body{
  /*
  background-color: lightgrey;
	background-image: url(bg/bg2.png);
  background-position: top right;
	background-repeat: repeat; 
  */

  /*Shorthand - property font dalam 1 baris*/
  background: lightgrey url(bg/bg2.png) top right no-repeat;
  /*background: color url() position x position y repeat;*/

  /*
  background-position: x-position (left, center, right, x%, x-pos) y-position (top, center, bottom, y%, y-pos);
  background-repeat: repeat (default), repeat-x, repeat-y, no-repeat; 
  */
}
