/* Disalin dari codepen (https://codepen.io/suntree/pen/jOEdLZK) */

/*
  :link (style default pada link yang tidak ditulispun tidak apa-apa)
  :hover (style yang bekerja saat pointer di atas elemen)
  :active (style yang bekerja saat elemen di klik)
  :visited (style yang bekerja setelah elemen di klik )
*/

.hello:link {
  color: orange;
}

.hello:hover {
  color: green;
  font-family: arial;
  font-size: 20px;
}

.hello:active {
  font-style: italic;
}

.hello:visited {
  color: red;
}

/*
  :firstchild (memilih elemen-anak pertama dari elemen-parent pembungkusnya)
  :last-child (memilih elemen-anak terakhir dari elemen-parent pembungkusnya)
  :nth-child (memilih elemen-anak ke-n dari elemen-parent pembungkusnya, (1),(2),(2n),(3n+2),(4n-1), atau (even) & (odd) )
*/

li:nth-child(odd) a {
  color: green;
}

li:nth-child(even) a:hover {
  color: red;
}

/*
  :first-of-type (memilih elemen pertama pada suatu jenis/tipe tag)
  :last-of-type (memilih elemen terakhir pada suatu jenis/tipe tag)
*/

p:last-of-type{
  color:red;
}
