/*
float :
- none; (default)
- left;
- right;
*/

.container {
  width: 600px;
  border: 1px solid black;
  margin: auto;
  padding: 5px;
}

/*
- image galerry
*/

.kotak {
  width: 80px;
  height: 80px;
  background-color: salmon;
  color: white;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  margin: 2px;
  float: left;
}

/*
cara menghentikan/membersihkan float yang kolaps:
- menggunakan properti clear melalui <div> kosong
diletakan setelah elemen yang ingin dibersihkan floatnya
*/

.clear {
  clear: left;
}
